@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
body{
    background-color: white;
    height:100%;
    margin:0;
    padding:0;
    font-family: Rubik;
    font-weight: bold;
    line-height: 1.6em;
}

a{
    text-decoration: none;
    color:#000000;
}

.logo{
    position:relative;
    top:12px;
    width:120px;
    height:40px;
    padding-right: 180px;
}

#signin{
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    padding-left:160px;
    padding-right:10px;
    /* border: 1px solid black; */
    /* float:right; */
}

#signup{
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
}

#signup a{
    position:relative;
    top:11px;
    color:red;
    border:1px solid red;
    padding:10px 40px;
    border-radius:25px;
    float:right;
    margin-right:50px;
}

.navbar{
    height:100%;
    width:100%;
    overflow:hidden;
    /* border:1px black solid; */
    margin-top:auto;
    padding:0;
}

.navbar ul{
    margin-left: 6em;
    list-style: none;
    padding:10px;
}
.navbar li{    
    display:inline;
    padding-right:30px;
}


.showcase{
    margin-top:4em;
    width:100%;
    min-height:400px;
    overflow: hidden;
    /* border:1px solid black; */
    box-sizing: border-box;
}
.showcase section{
    padding-top:27px;
    width:50%;
    min-height:400px;
    float:left;
    /* border:1px solid blue; */
    box-sizing: border-box;
    padding-left: 7em;
}
.btn{
    text-align: center;
    display:block;
    margin-top:100px;
    margin-right:350px;
    background-color:red;
    border-radius:10px;
    color:#ffffff;
    padding:10px 50px;
    box-shadow:0px 3px 13px rgb(255 0 0 / 0.5);
}
.btn1 a{
    position:inline;
    bottom:2px;
    text-align: center;
    display:block;
    margin-top:20px;
    margin:auto;
    background-color: white;
    border-radius:20px;
    border:1px solid red;
    color:red;
    padding:10px;
}
.btn2{
    position:relative;
    bottom:10px;
    text-align: center;
    display:block;
    margin-top:20px;
    margin-left:7px;
    margin-right:10px;
    background-color: white;
    border-radius:20px;
    border:1px solid red;
    color:red;
    padding:10px;
}
.btn3{
    position:relative;
    bottom:10px;
    text-align: center;
    display:block;
    margin-top:20px;
    margin-left:7px;
    margin-right:10px;
    background-color:red;
    border-radius:20px;
    border:1px solid red;
    color:white;
    padding:10px;
}
.showcase span{
    font-size:50px;
    line-height:70px;
}
.showcase img
{
    width:50%;
    float:right;
    /* border:1px solid; */
    box-sizing: border-box;
}

.main-container{
    width:80%;
    margin-left: 8em;
    margin-right: 8em;
    min-height:150px;
    /* border:1px solid black; */
    margin-top:7em;
    padding:auto;
    display:grid;
    grid-column-gap: 2px;
    grid-template-columns: auto auto auto;
    background-color:#f6f6f6;
    box-sizing: border-box;
    border-radius: 10px;
    /* text-align: center; */
    
}

.container-item{
    width:100%;
    height:100%;
    box-sizing: border-box;
    /* border: 1px solid black; */
    background-color:white;
}

.container-item img{
    padding-top:20px;
    width:50px;
    height:50px;
    margin-left:7em;
    /* border: 1px solid black; */
    float:left;
}

.container-item section{
    padding-top:20px;
    width:50%;
    height:100%;
    /* border: 1px solid blue; */
    float:right;
}

.feature-container{
    margin-top:6em;
    margin-left:8em;
    width:80%;
    min-height: 200px;
    /* border-top:1px solid black; */
    overflow:hidden;
    box-sizing: border-box;
    /* background: linear-gradient(202.61deg, #FFFFFF -41.76%, #D7D7D7 106.5%); */
}
.feature-container img{
    width:50%;
    min-height:400px;
    float:left;
    /* border:1px solid black; */
    box-sizing: border-box;
}
.feature-container section{
    width:40%;
    height:100%;
    float:right;
    box-sizing: border-box;
    /* border:1px solid blue; */
}

.feature-container section h1{
    padding-top:30px;
    line-height: 50px;
    margin-left: 20px;
    font-family: Rubik;
    font-weight: bolder;
    font-size:35px;

}

.feature-container section p{
    margin-left: 20px;
    font-family: Rubik;
    font-weight: normal;
    line-height: 30px;
}

.feature-container ul{
    list-style-image: url('./Assets/Vector.jpg');
    
}
.feature-container li{
    font-weight: normal;
    line-height:40px;
}

.plan{
    margin-top:40px;
    padding:50px;
    padding-bottom: 5px;
    width:100%;
    height:100%;
    
    box-sizing: border-box;
    /* border: 1px solid black;  */
    text-align: center;
    line-height:1.6em;
    background-color: #f6f6f6;
}

.grid-container {
    display: grid;
    padding:50px;
    padding-top:0px;
    grid-column-gap: 10px;
    grid-template-columns: auto auto auto;
    background-color:#f6f6f6;
    /* text-align:center; */
    /* border:1px solid black; */
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin:50px;
    font-size: 30px;
    /* text-align: center; */
    font-family: 'Rubik', sans-serif;
    border:1px solid grey;
    border-radius: 10px;
  }

  .grid-item img{
    width: 120px;
    height:126px;
    padding:70px;
    padding-bottom: 40px;
  }

  .grid-item ul{
      list-style-image: url('./Assets/Vector1.png');
  }
  .grid-item li{
      font-size: 16px;
      line-height:40px;
      font-weight: 400;
      padding-left: 10px;
  }

  #premium{
      border:1px red solid;
  }
/* .planContainer{
    width:100%;
    min-height:400px;
    display:grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto auto;
    /* margin-left: 8em; */
    /* margin-right: 8em; 
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    /* line-height:1.6em; 
    background-color: #f6f6f6;
}


.Free{
    margin:auto;
    padding:auto;
    display:inline;
    width:50%;
    min-height:400px;
    margin-right:1.6em;
    border:1px solid black;
    background-color: white;
    box-sizing: border-box;
    text-align: center;
}

.Free h2{
    text-align: center;
    display:inline;
}

.Free img{
    width: 120px;
    height:126px;
}
.Standard{
    margin:auto;
    padding:auto;
    display:inline;
    width:50%;
    min-height:400px;
    margin-right:1.6em;
    border:1px solid black;
    background-color: white;
    box-sizing: border-box;
    text-align: center;
}

.Standard h2{
    text-align: center;
    display:inline;
}
.Standard img{
    width: 120px;
    height:126px;
}
.Premium{
    margin:auto;
    padding:auto;
    display:inline;
    width:50%;
    min-height:400px;
    margin-right:1.6em;
    border:1px solid black;
    background-color: white;
    box-sizing: border-box;
    text-align: center;
}
.Premium h2{
    text-align: center;
    display:inline;
}
.Premium img{
    width: 126px;
    height:126px;
} */